.app {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  overflow: visible;
  background-color: #3a3c3d;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  background-position: center;
  background-size: contain;
  box-shadow: inset -4px -4px 20px rgb(19, 19, 19),
    inset 2px 2px 8px rgb(19, 19, 19);
}
.profile_icon_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_info_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  color: #adb5bd;
  margin: 0;
}
.data {
  font-size: 14px;
  margin: 0;
}

.profile_icon {
  width: 180px;
  height: 180px;
  background-image: url("/public/profile_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
